* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #f2f5fa;
  color: 	#181819;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
